<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

	<!-- Приносим извинения за плагиат, это в целях обучения 🙏 -->
	<link rel="stylesheet" type="text/css" href="/mashademianovastyles.css">
	<script src="/mashademianova.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<a class="logo" href="/">Tanya Klimovich</a>
			<div class="menu-toggle">menu</div>
			</div>
		<div class="content">
			<div class="menu-wrapper">
				<div class="menu">
					<div class="section-name {% if page.url.includes('/fashion/') %} active-item{%endif %}">
						<span class="main">Fashion</span>
						{%- for project in fashion.projects %}
						<div class="client-name{% if page.url == project.url %} active-item{%endif%}">
							<span class="child">
								<a href="{{ project.url }}">{{ project.name }}</a>
							</span>
						</div>
						{%- endfor %}
					</div>
					<div class="section-name{% if page.url.includes('/art/') %} active-item{% endif %}">
						<span class="main">Art</span>
						{%- for project in art.projects %}
						<div class="project-item{% if page.url == project.url %} active-item{% endif %}">
							<span class="child">
								<a href="{{ project.url }}">{{ project.name }}</a>
							</span>
						</div>
						{%- endfor %}
					</div>
					<div class="section-name video{% if page.url.includes('/diary') %} active-item{% endif %}">
						<span class="main">
							<a href="/diary">Diary</a>
						</span>
					</div>
					<div class="section-name contact">
					  <span class="main">Contact</span>
						  <div class="client-name">
						  	<span class="child">
						  	  <a href="https://t.me/tanya_klimovich" target="_blank">Telegram</a>
						  	</span>
					  	</div>
					  	<div class="client-name">
							  <span class="child">
							  	<a href="https://www.instagram.com/tanyaklimovich_archive?igsh=d2o3M21xOGxlcTdo" target="_blank">Instagram</a>
							  </span>
					  	</div>
					  	<div class="client-name">
						  	<a href="mailto:tanya.klimovich@gmail.com">tanya.klimovich@gmail.com</a>
					  	</div>
  					</div>
  				</div>
		  	</div>
		  <div class="project-content">
        <div class="title">{{ title }}
      </div>
        {{ content | safe }}
    </div>
    </div>
  </div>
</body>
</html>
